<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>TS.weather</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.png</string>
	<key>CFBundleIdentifier</key>
	<string>com.ts0nw0rk.weather</string>
	<key>CFBundleName</key>
	<string>TS.weather</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1a</string>
	<key>CFBundleVersion</key>
	<string>0.1a</string>
	<key>MinimumOSVersion</key>
	<string>15.6</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
